<div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(<%= asset_path 'pier_vintage.jpg' %>)">
  </div>

  <div class="container pt100 pb70">
    <div class="row pb50">
      <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
        <h3 class="h1 text-center font300  pt100 text-white"> <%= logo %> </h3>
      </div>
    </div>
  </div>
</div>
