<div class="col-md-3">
  <div class="widget">
    <h3>Pesquise por publicações</h3>
    <%= form_tag site_search_path, method: :get do %>
      <%= text_field_tag(:q, params[:q], {class:"form-control", placeholder:"Digite e aperte enter...", type: "enter"}) %>
    <% end %>
  </div><!--end widget-->
  <div class="widget">
    <h3>Post categories</h3>
    <ul class="list-unstyled">
      <li><a href="#" class="btn btn-underline">Web design</a></li>
      <li><a href="#" class="btn btn-underline">Bootstrap4</a></li>
      <li><a href="#" class="btn btn-underline">Angular js</a></li>
      <li><a href="#" class="btn btn-underline">Jquery</a></li>
    </ul>
  </div><!--end widget-->
<!--  <div class="widget">
    <h3>About Author</h3>
    <p>
      Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.
    </p>
  </div>&lt;!&ndash;end widget&ndash;&gt;-->
  <div class="widget">
    <h3>Tags</h3>
    <ul class="list-inline tag-list">
      <% @tags.each do |t| %>
        <li><%= link_to t, site_home_index_url(tag_list: t) %></li>
      <% end %>
    </ul>

  </div><!--end widget-->
</div>
