<div class="col-md-9 mb40">
  <div class="card mb30 card-post">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 align-self-center">
        <a href="blog-single.html"><img class="img-fluid" src="images/box/img-4.jpg" alt="..."></a>
      </div>
      <div class="col-12 col-md-7">
        <div class="card-body">
          <h4 class="card-title font400">Classic Minimal Template</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
          <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="card-bottom">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-reply"></i> 7
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-comments"></i> 14
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-share-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--post card-->
  <div class="card mb30 card-post">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 align-self-center">
        <!--<a href="blog-single.html"><img class="img-fluid" src="images/box/img-8.jpg" alt="..."></a>-->
        <%= link_to "blog-single.html" do %>
          <%= image_tag('box/img-8.jpg',:class => 'img-fluid',:alt => "...") %>
        <% end %>
      </div>
      <div class="col-12 col-md-7">
        <div class="card-body">
          <h4 class="card-title font400">Convert angular 4 Bootstrap</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
          <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="card-bottom">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-reply"></i> 7
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-comments"></i> 14
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-share-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--post card-->
  <div class="card mb30 card-post">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 align-self-center">
        <a href="blog-single.html"><img class="img-fluid" src="images/box/img-7.jpg" alt="..."></a>
      </div>
      <div class="col-12 col-md-7">
        <div class="card-body">
          <h4 class="card-title font400">Post title goes here</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
          <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="card-bottom">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-reply"></i> 7
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-comments"></i> 14
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-share-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--post card-->
  <div class="card mb30 card-post">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 align-self-center">
        <a href="blog-single.html"><img class="img-fluid" src="images/box/img-6.jpg" alt="..."></a>
      </div>
      <div class="col-12 col-md-7">
        <div class="card-body">
          <h4 class="card-title font400">Standard blog post</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
          <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="card-bottom">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-reply"></i> 7
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-comments"></i> 14
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-share-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--post card-->
  <div class="card mb30 card-post">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 align-self-center">
        <a href="blog-single.html"><img class="img-fluid" src="images/box/img-5.jpg" alt="..."></a>
      </div>
      <div class="col-12 col-md-7">
        <div class="card-body">
          <h4 class="card-title font400">Another post title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
          <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="card-bottom">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-reply"></i> 7
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-comments"></i> 14
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-share-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--post card-->
  <nav class="clearfix mt30">
    <a class="btn btn-light float-right" href="#">Older <i class="fa fa-angle-right"></i></a>
    <a class="btn btn-light disabled"><i class="fa fa-angle-left"></i> Newer</a>
  </nav>
</div>